body {
	background-color: black;
	width: 100%;
}
h1,h2,h3 {
	color: white;
	text-align: center;
}
nav ul li {
	color: white;
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
	padding: 12px;
	margin-right: 10px

}
nav ul li:hover{
	color: yellow;
}
nav {
	text-align: right;
}
img {
width: 30%;
position: fixed;
height: 100%;

}
body>h1 {
	font-size: 4rem;
	font-family:hobo std;}
a {
	text-decoration: none;
	color: white;
}	
a:hover {
	color: gray;
}
.firstpage {
	color: white;
	text-decoration: none;
	font-family: hobo std;
}
.firstpage>thead>tr>th {
	font-size: 1rem;
	display: block;
	padding: 1.5rem;
}
.webname {
	text-align: left;
	margin-top: 0;
	padding: 1rem;
 }













